/* Global Styles */

html, body {
	height: 100%;
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background: rgba(0, 0, 0, 0.76);
    margin: 0;
}
.headerContainer{
	width: 100%;
}
.container{
	width: 85%;
	margin: 0 auto;
}
.headerContent{
	background: rgba(224, 33, 121, 0.86);
	padding: 40px;
}
.headerContent >span{
	float: right;
	color: #fff;
	font-size: 18px;
}
#logo{
	background: url(../images/gl-logo@2x.png) no-repeat;
	width: 170px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
}
#goto{

}
