<div class="headerContainer">
	<div class="container">
		<div class="headerContent">
			<a href="#" id="logo"></a>
			<span>Powered by Spotify</span>
			<div class="images_header">
				<img src="images/hero-img@2x.png">
			</div>
			<div id="goto"></div>
		</div>
	</div>
</div>
<div class="searchContainer">
	<div class="container">
		<div class="search_music">
			<div class="search">
				<input type="text" name="search" ng-model="search" placeholder="Lorem ipsum">
				<button ng-click="search()">Search</button>
			</div>
		</div>
	</div>
</div>
<div class="contentContainer">
	<div class="container">
		<div class="content">
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
				<div class="imtes_hover">
					<img src="images/bg1.png">
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
			<div class="items">
				<div class="itmes_header">
					<img src="https://i.scdn.co/image/6627becd6a441e3105bd08a477df5fa5a36b7fad">
				</div>
				<div class="items_content">
					<h3>Albert King</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<button ng-click='toggleModal()'>Open Modal Dialog</button>

<modal-dialog show='modalShown'>
  <p>Modal Content Goes here<p>
</modal-dialog>