<div class="headerContainer">
	<div class="container">
		<div class="headerContent">
			<a href="#" id="logo"></a>
			<span>Powered by Spotify</span>
			<div class="images_header">
				<img src="images/hero-img@2x.png">
			</div>
			<div id="goto"></div>
		</div>
	</div>
</div>
<div class="searchContainer">
	<div class="container">
		<div class="search_music">
			<div class="search">
				<input type="text" name="search" ng-model="search">
				<button ng-click="search()">Search</button>
			</div>
		</div>
	</div>
</div>
<div class="contentContainer">
	<div class="container">
		<div class="content">
			
		</div>
	</div>
</div>